/* General styling */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    background-color: #f9f9f9;
  }

  img {
    margin: 0 auto;
    width: 200px;
  }
  
  /* Container for all content */
  .content-container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
  }
  
  /* Resume content styles */
  
  .resume-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px; 
  }
  
  /* Header section */
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
  }
  
  p {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
  }
  
  a {
    color: #0074b8;
    text-decoration: none;
  }
  
  /* Work experience section */
  .section {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #444;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #666;
  }
  
  /* Skills section */
  .skills {
    margin-top: 20px;
  }
  
  /* Additional styles */
  header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  .about, .portfolio {
    padding: 50px 0;
  }
  
  .about p {
    line-height: 1.5;
  }
  
  .portfolio {
    text-align: center;
  }
  
  .project-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .project-list li {
    margin: 10px;
    display: inline-block; 
  }
  
  .project-list li a {
    text-decoration: none;
    color: black;
  }
  
  .project-list li img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer li {
    display: inline-block;
  }
  